@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

body{
    background-color: #459695;
    font-family: "Montserrat";
    margin: 0;
}

.check{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}

h2{
    color: white;
    margin: 45px 0 0 0;
    text-align: center;
}
hr{
    margin: 35px 40% 0 40%;
    border: none;
    height: 3px;
    background-color: white;
}

p{
    color: white;
    text-align: center;
}

button{
    color: white;
    background-color: #459695;
    width: 80%;
    margin: 30px 0 10px 10%;
    height: 42px;
    border: 1px solid white;
}

a{
    text-decoration: none;
}
