* {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
body {
  background: #fff;
  margin: 0;
}
.header {
  position: relative;
}
.header .pointer .pointer-back {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  margin: 20px;
}
.header .image .image-item {
  z-index: 1;
  position: relative;
  width: 100%;
  filter: brightness(45%);
}
.title-bar .title h2 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  color: #000;
  text-align: center;
  margin-bottom: -10px;
}
.location-list {
  padding: 15px;
}
.location-list .location {
  background-color: rgba(69, 150, 149, 0.5);
  height: 120px;
  margin-bottom: 20px;
}
.location-list .location .image {
  float: left;
  padding-right: 10px;
}
.location-list .location .text {
  display: block;
  padding: 5px;
}
.location-list .location .text p.plaats {
  font-size: 12px;
  font-style: Georgia;
  font-style: italic;
  opacity: 0.5;
}
.location-list .location .text p.omschrijving {
  font-family: Helvetica;
  font-size: 15px;
}
.container {
  padding: 20px;
  height: 100%
}
.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul li{
  font-family: Helvetica;
  font-size: 15px;
  color: #000;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  border: 1px solid #e1efef;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 0px 25px 25px 70px;
  margin: 20px auto;
  height: 0px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}
ul li h3 {
  padding-left: 20px;
  font-size: 15px;
  font-family: Helvetica;
  color: #459695;
  font-weight: bold;
}
ul li:hover label{
	color: #0CAADC;
}

ul li .check{
  display: block;
  position: absolute;
  border: 3px solid #0CAADC;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 7.5px;
  left: 20px;
  margin: 10px 0px 0px 0px;
	z-index: 5;
	transition: border .15s linear;
	-webkit-transition: border .15s linear;
}

ul li:hover .check {
  border: 3px solid #0CAADC;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #0CAADC;
}

input[type=radio]:checked ~ .check::before{
  background: #0CAADC;
}

input[type=radio]:checked ~ label{
  color: #0CAADC;
}
.button-text {
  height: 100%;
  margin-top: -2px
}
.button-text h3 {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e1efef;
  height: 100%;
  font-size: 15px;
  font-family: Helvetica;
  color: #459695;
  font-weight: bold;
  margin-bottom: 0px;
}
.button-text button {
  width: 100%;
  height: 50px;
  background-color: #459695;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}
