@font-face {
  font-family: Montserrat;
  src: url(../Fonts/Montserrat-Regular.ttf);

}
@import 'https://fonts.googleapis.com/css?family=Montserrat';


body{
    background-color: #459695;
    font-family: "Montserrat";
    margin: 0;
}

.check{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

h2{
    color: white;
    margin: 25px 0 0 0;
    text-align: center;
}
.container {
  padding: 20px;
}
hr{
    margin: 20px 40% 20px 40%;
    border: none;
    height: 3px;
    background-color: white;
}

p{
    color: white;
    text-align: center;
}

button{
    color: white;
    background-color: #459695;
    width: 80%;
    margin: 20px 0 10px 10%;
    height: 50px;
    border: 1px solid white;
}

a{
    text-decoration: none;
}
