body{    
    background-color: #459695;
    font-family: "Helvetica";
    margin: 0;
}

.check{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}

h2{
    color: white;
    margin-top: 20%;
    text-align: center;
}
hr{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    border: none;
    height: 3px;
    background-color: white;
}

p{
    color: white;
    text-align: center;
}

button{
    color: white;
    background-color: #459695;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 42px;
    border-style: solid 1px;
    border-color: white;
}
