@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
body {
    background-color: #459695;
    font-family: "Montserrat";

}
.logo {
    width:100%;
}

.styled-select select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    width:100%;
    border-radius: 0px;
    border:none;
    font-size:18px;
    color:grey;
    padding:4% 7% 4% 7%;
    margin-top:10px;
    background-color: white;
}

.welcome {
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 20px;
    margin:0px 0px 20px 0px;
}

.blok {
    margin:0 auto;
    width: 15%;
    height: 3px;
    background-color: white;
}

.idText{
    text-align: center;
    color: white;
    margin-top: 20px;
}

option.option_dropdown {

}

input.submit {
    width:100%;
    padding:4% 7% 4% 7%;
    background-color: #459695;
    color:white;
    border:1px solid white;
    margin-top:10px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    text-decoration: none;
    border-radius: 0px;
    font-size: 18px;
}

input.key {
    background-color: red;
    width: 100%;
    margin:0 auto;
    border-radius: 0px;
    border:none;
    color:grey;
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    padding:4% 7% 4% 7%;
}

.inputvelden {
    padding-top:20px;
    width:80%;
    margin:0 auto;
}

a{
    text-decoration: none;
}

.logoblok {
    width:80%;
    margin:0 auto;
}