body {
  background: #fff;
  margin: 0;
}
.header {
  position: relative;
}
.header .pointer .pointer-back {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  margin: 20px;
}
.header .pointer .maps-button {
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  margin: 20px;
}
.header .image .image-item {
  z-index: 1;
  position: relative;
  width: 100%;
  filter: brightness(45%);
}
.title-bar .text {
  text-align: center;
  position: absolute;
  z-index: 999999;
  bottom: 25%;
  right: 0;
  left: 0;
}
.title-bar .text h2 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  color: #fff;
}
.title-bar .border-blue {
  height: 3px;
  background: #0CAADC;
  width: 25%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 30px;
}
.location-list {
  margin-top: 30px;
  padding: 15px;
}
.location-list .location {
  background-color: rgba(69, 150, 149, 0.5);
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.location-list .location .image {
  float: left;
  padding-right: 10px;
}
.location-list .location .text {
  display: block;
  padding: 5px;
}
.location-list .location .text p.plaats {
  font-size: 12px;
  font-style: Georgia;
  font-style: italic;
  opacity: 0.5;
}
.location-list .location .text p.omschrijving {
  font-family: Helvetica;
  font-size: 15px;
}

a{
    color: inherit;
    text-decoration: none;
}