* {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  background: #fff;
  margin: 0;
  font-family: "Montserrat";
}
.header {
  position: relative;
}
.header .pointer .pointer-back {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  padding: 30px;
}
.header .image .image-item {
  z-index: 1;
  position: relative;
  width: 100%;
  filter: brightness(45%);
}
.title-bar .title h2 {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 -10px 0;
  color: #000;
  text-align: center;
}
.location-list {
  padding: 15px;
}
.location-list .location {
  background-color: rgba(69, 150, 149, 0.5);
  height: 120px;
  margin: 0 0 20px 0;
}
.location-list .location .image {
  float: left;
  padding: 0 10px 0 0;
}
.location-list .location .text {
  display: block;
  padding: 5px;
}
.location-list .location .text p.plaats {
  font-size: 12px;
  font-style: Montserrat;
  font-style: italic;
  opacity: 0.5;
}
.location-list .location .text p.omschrijving {
  font-family: Montserrat;
  font-size: 15px;
}
.container {
  padding: 20px;
  height: 100%
}
.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul li{
  font-family: inherit;
  font-size: 15px;
  color: #000;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  border: 1px solid #e1efef;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 0px 25px 25px 70px;
  margin: 20px auto;
  height: 0px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}
ul li h3 {
  padding-left: 20px;
  font-size: 15px;
  font-family: Montserrat;
  color: #459695;
  font-weight: bold;
}
ul li:hover label{
	color: #0CAADC;
}

ul li .check{
  display: block;
  position: absolute;
  border: 3px solid #0CAADC;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 7.5px;
  left: 20px;
  margin: 10px 0 0 0;
	z-index: 5;
	transition: border .15s linear;
	-webkit-transition: border .15s linear;
}

ul li:hover .check {
  border: 3px solid #0CAADC;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
	transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #0CAADC;
}

input[type=radio]:checked ~ .check::before{
  background: #0CAADC;
}

input[type=radio]:checked ~ label{
  color: #0CAADC;
}
.button-text {
  height: 100%;
  margin: -2px 0 0 0;
}
.button-text h3 {
  padding: 10px 0 10px 20px;
  border: 1px solid #e1efef;
  height: 100%;
  font-size: 13px;
  font-family: Montserrat;
  color: #459695;
  font-weight: bold;
  margin-bottom: 0px;
}
.button-text button {
  width: 100% !important;
  height: 50px;
  background-color: #459695;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button-text button a {
  text-decoration: none;
  color: inherit;

}
.container.centered-button {
  text-align: center;
}
.container button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #459695;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 15px 32px;
  width: 80%
}
.button-text a#button-false {
  display: none;
}
.button-text a#button-true {
  display: inherit;
}
