body{
	margin: 0;
}

header{
	height: 30vh;
	background: url('../img/header-img.jpg');
	background-size: cover;
}

header #header-content{
	text-align: center;
	z-index: 2;
	position: relative;
	height: 30vh;
}

header h1{
	color: white;
	 
}

header #icon{
	display: block;
}

header #icon img{
	height: 32px;
	width: 32px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.v-align{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#darken{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	height: 30vh;
	width: 100%;
}

#blue-line{
	width: 40%;
	margin: 0 auto 15px auto;
	border-bottom: 3px solid #0CAADC;
	height: 15px;
}

.location-block{
	background: red;
	height: 100px;	
	display: block;
	overflow: hidden;
}

.content{
	width: 50%;
	display: inline-block;
	float: right;
}

.image{
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.image img{
	height: 100px;
}